section{
  color: $text_color;
  font-family: "Raleway","Roboto","Helvetica","Arial",sans-serif;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto;
}

.section-title{
  color: $title_color;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

.card-container{
  max-width: 1044px;
}

.portfolio-card{
  width: calc(25% - 16px);
}

.portfolio-card img{
  width: 100%
}
